<div class="tabbable">
	<ul class="nav nav-tabs" id="tabs">
		<li class="active"><a href="#tabParams" data-toggle="tab">Experiment parameters</a></li>
		<li><a href="#tabPanel" data-toggle="tab">Experiment panel</a></li>
	</ul>
	<div class="tab-content">

		<div class="tab-pane active" id="tabParams">
			<div class="row">
				<div class="span3">
					<form id="sim_form">
						<fieldset>
							<label for="hlp">Hidden layers parameters</label>
							<input type="text" id="hlp" placeholder="[3, 4, 5]" value="[3]">
							<label for="lr">Learning rate</label>
							<input type="number" id="lr" placeholder="0.3" min="0" max="1" step="0.1" value="0.3">
							<label for="m">Momentum</label>
							<input type="number" id="m" placeholder="0.2" min="0" max="1" step="0.1" value="0.2">
							<label for="db">Disable bias</label>
							<select id="db">
								<option>false</option>
								<option>true</option>
							</select>
							<button type="submit" class="btn btn-primary pull-right">Go</button>
						</fieldset>
					</form>
				</div>
				<div class="span5">
					Training set selection
					<div id="training_set"></div>
				</div>
				<div class="span4">
					Training set parameters
					<div id="training_set_params"></div>
				</div>
			</div>
		</div>

		<div class="tab-pane" id="tabPanel">
			<div class="row">
				<div class="span6">
					Training set
					<div class="row span6" id="network_state"></div>
					<div class="row span6" id="network_state_controls"></div>
				</div>
				<div class="span6">
					Network state
					<div id="network_eval"></div>
				</div>
			</div>
		</div>

	</div>
</div>
