<div>
	<!-- training set selection -->
	Training set selection
	[SAP]
</div>

<div>
	<!-- network state -->
	Network state
	[SAP]
</div>

<div>
	<!-- controls: next/prev -->
	Controls
</div>


<%#
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" onload="startup()" onmousemove="moveIt(evt)">
	<script><![CDATA[
		function startup(){C=document.getElementById("C")}

		function moveIt(evt){
			C.setAttributeNS(null,"cx",evt.clientX)
			C.setAttributeNS(null,"cy",evt.clientY)
		}
	]]></script>

	<circle cx="60" cy="60" r="40" fill="white" stroke="black" stroke-width="3"/>
	<circle id="C" cx="60" cy="60" r="22" fill="darkgrey" opacity="0.7" stroke="lightgrey" stroke-width="8"/>
</svg>

<svg>
	<script><![CDATA[
		function changeFill(){
			D=document.getElementById("D")
			D.setAttributeNS(null,"fill","black")
		}
	]]></script>

	<circle id="D" cx="80" cy="100" r="22" fill="grey" onclick="changeFill()"/>
</svg>
%>
